backend/.venv
backend/winvenv
frontend/.next
frontend/node_modules
frontend/.env
node_modules/
build/
venv/
.idea/
.venv/
local_settings.py/
.env
next-src/.env
~partytown/

main/main/local_settings.py
__pycache__
*.pyc
*.pyo
.DS_Store

product_settings.py
next-src/.env.production
next-src/public/robots.txt
next-src/public/sitemap-0.xml
next-src/public/sitemap.xml
```
